.itemslist{
      border: 4px solid blue;
      width: 700px;
      height: 200px;
    }
@media only screen and (min-width:100px) and (max-width:500px)
 {
	 .skr{
		 margin-left:25px
	 }
 }

 @media only screen and (min-width:100px) and (max-width:480px)
 {
	 .skr{
		 margin-left:20px
	 }
 }
 @media only screen and  (max-width:1400px)
 {
	 .skr{
		 margin-left:50px;
	 }
 }

 @media only screen and  (min-width:200px)   and  (max-width:400px)
 {
	 .skr{
		 margin-left:25px;
	 }
 }



   
